{% extends 'base.html.twig' %}

{% block title %}Symfony Doc Bot{% endblock %}

{% block body %}
    <h1>SymfonyDocBot</h1>
    <article>
        {{ form(form) }}

        {% if answer %}
            <h2>Réponse:</h2>
            {% for answerBlock in answer|split('```\n') %}
                {{ answerBlock|trim('\n', 'right')|markdown_to_html }}
            {% endfor %}
        {% endif %}
    </article>
{% endblock %}
