<header class="container">
    <nav>
        <ul>
            <li>
                <a href="{{ path('app_chatbot') }}">{{ 'home'|trans|capitalize }}</a>
            </li>
        </ul>
        <ul>
            <li>
                <select id="local-selector">
                    <option>EN</option>
                    <option>FR</option>
                </select>
            </li>
        </ul>
    </nav>
</header>
<script src="{{ asset('js/header/main.js') }}"></script>
